@model CheeseMVC.Models.ViewModels.ViewMenuViewModel


@{
    ViewBag.Title = Model.Menu.Name;
}




    <ul>
        @foreach (var menus in Model.Items)
        {
            <li>@menus.Cheese.Name</li>
        }
    </ul>

@if (Model.Items.Count == 0)
{
    <p><i>No menu items</i></p>
}
<p><a asp-controller="Menu" asp-action="AddItem" asp-route-id="@Model.Menu.ID">Add Item</a></p>
