@{

    
}
<h1>Add Cheese</h1>

<form method="post">
    <label for="name">Type of Cheese</label>
    <input name="name" type="text"/>
    <br />
    <label for="description">Description</label>
    <input name="description" type="text"/>
    <input type="submit" value="Add"/>
</form>
