@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
     <h1> Edit Cheese @ViewBag.cheese.Name (id=@ViewBag.cheese.CheeseId) </h1>
    <form method="post">
        <input type="hidden" value="@ViewBag.cheese.CheeseId" name="id" />
        <label for="name">Type of Cheese</label>
        <input name="name" type="text" value="@ViewBag.cheese.Name" />
        <br />
        <label for="description">Description value="value="@ViewBag.cheese.Description"</label>
        <input name="description" type="text" />
        <input type="submit" value="Add" />
    </form>
